/* Maximum Width */
@media screen and (max-width: 1055.9px) {
    .form-login, .form-register {
        padding-left: calc(15% / 2);
        margin-top: 3rem;
    }
    
    .team-card > * {
        transform: translateY(0px) !important;
    }

    .team-card:hover .social-media-links, .social-media-links {
        transform: translateY(0px) !important;
        opacity: .7 !important;
    }

    .donation .container {
        margin-top: -20px !important;
    }
}

@media screen and (max-width: 991.9px) {
    .lendee-payment-detail .col-md-12:last-child {
        margin-top: 1.5rem !important;
    }
    
    .loan-detail-container.lender-role {
        grid-template-columns: 1fr;
    }
    
    .loan-detail-container.lender-role > *:nth-child(2) {
        grid-row-start: 3;
    }

    .loan-detail-container > *:first-child > *:last-child {
        display: none;
    }

    .lendee-payment-detail button[type=button],
    #uploadProofOfPaymentSection button[type=submit],
    #uploadProofOfPaymentSection > div {
        margin-inline: auto;
    }
}

@media screen and (max-width: 900px) {
    .profile-area img {
        width: 35% !important;
    }

    .lender-investor-registration-cta .container > div:nth-child(3) {
        margin-top: 15rem !important;
    }
}

@media screen and (max-width: 637px) {
    .saving-balance-section > div:first-child > img {
        width: clamp(4rem, 30vw, 5.5rem) !important;
        margin-top: -5rem !important;
    }

    .saving-balance-section {
        overflow: hidden;
    }
}

@media screen and (max-width: 616px) {
    .nav-tabs .nav-item:first-child {
        border-bottom: 3px solid #dee2e6;
    }

    .nav-tabs .nav-item {
        width: 100%;
    }

    .lender-investor-registration-cta .container > div:nth-child(2) {
        grid-template-columns: 1fr 1fr !important;
    }

    .lender-investor-registration-cta .container > div:nth-child(2) > img:first-child, 
    .lender-investor-registration-cta .container > div:nth-child(2) > img:nth-child(2) {
        margin-top: 3rem !important;
    }

    .lender-investor-registration-cta .container > div:nth-child(2) > img:nth-child(3), 
    .lender-investor-registration-cta .container > div:nth-child(2) > img:last-child {
        margin-top: -8rem !important;
    }

    .lender-investor-registration-cta .container > div:nth-child(3) {
        margin-top: 22rem !important;
    }
}

@media screen and (max-width: 600px) {
    .profile-area img {
        width: 50% !important;
    }

    .donation-nominal-area .item-card-shadow,
    .lendee-payment-detail .item-card-shadow {
        width: 10rem !important;
        height: fit-content !important;
        min-height: 7rem !important;
        max-height: 7rem !important;
        min-width: clamp(8rem, 30vw, 10rem) !important;
        max-width: clamp(8rem, 30vw, 10rem) !important;
    }

    .donation-nominal-area .item-card-shadow label img,
    .lendee-payment-detail .item-card-shadow label img {
        width: 4rem !important;
        margin-block: 1rem 1.5rem;
    }
    
    .donation-nominal-area .item-card-shadow:nth-child(3) label img,
    .donation-nominal-area .item-card-shadow:nth-child(4) label img,
    .donation-nominal-area .item-card-shadow label img.p-1,
    .lendee-payment-detail .item-card-shadow:nth-child(3) label img,
    .lendee-payment-detail .item-card-shadow:nth-child(4) label img,
    .lendee-payment-detail .item-card-shadow label img.p-1 {
        width: 5.5rem !important;
    }

    .donation-nominal-area .item-card-shadow:last-child label img,
    .donation-nominal-area .item-card-shadow label img.p-1,
    .lendee-payment-detail .item-card-shadow:last-child label img,
    .lendee-payment-detail .item-card-shadow label img.p-1 {
        margin-block: .5rem 1.5rem;
    }

    .donation-nominal-area .item-card-shadow label img.p-3,
    .lendee-payment-detail .item-card-shadow label img.p-3 {
        padding: 0 !important;
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    #loanDuration {
        flex-direction: column;
    }

    #loanDuration select {
        width: 100%;
    }

    .team-card-container {
        grid-template-columns: 100% !important;
    }

    .team-card {
        flex-direction: row !important;
        align-items: center;
        padding: 0 !important;
        display: grid !important;
        grid-template-columns: 30% 60% 10%;
        padding: clamp(.6rem, 4vw, 1rem) !important;
        background-size: 20% 100% !important;
    }

    .team-card img {
        padding: 0 !important;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 80%;
        margin-inline-start: 0 !important;
    }

    .team-card h3 {
        text-align: left !important;
        padding: 0 !important;
        font-size: clamp(1rem, 4vw, 1.4rem) !important;
    }

    .team-card .social-media-links {
        width: 100% !important;
        grid-column-start: 2;
        justify-content: left !important;
        gap: clamp(.5rem, 4vw, 1rem) !important;
    }

    .team-card .social-media-links a img {
        width: clamp(1.3rem, 6vw, 1.6rem) !important;
    }

    .team-card div a {
        width: 2rem;
    }
    
    .team-card span {
        font-size: 1.5rem !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 500px) {
    .ornament {
        width: 100% !important;
    }

    .breadcrumb-line {
        width: clamp(12rem, 77vw, 18.8rem) !important;
    }

    .profile-area img {
        min-width: 60% !important;
    }

    .active-lendees-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .saving-balance-section {
        padding-block: 2rem !important;
    }

    .saving-balance-section > div:first-child > img {
        width: calc(65% + 1rem) !important;
        max-width: 5rem;
        margin-top: 0 !important;
        position: relative !important;
    }

    .lender-investor-registration-cta .container > div:nth-child(3) {
        margin-top: 19rem !important;
    }

    .ml-3 {
        margin-left: .5rem !important;
    }

    .breadcrumb-custom-container .breadcrumb-custom {
        width: 2rem !important;
        height: 2rem !important;
        margin-top: .5rem;
    }

    .checkmark, .checkmark-checked {
        width: 1rem;
        height: 1rem;
        top: 1rem;
    }

    .container-card-shadow.p-5 {
        padding: clamp(1.5rem, 20vw, 2rem) !important;
    }

    .profile-area .container-card-shadow {
        padding: 3rem !important;
    }

    .bank-choices-in-inquiry {
        grid-template-columns: 1fr !important;
    }
}


@media screen and (max-width: 442px) {
    .lender-investor-registration-cta .container > div:nth-child(2) > img:nth-child(3), 
    .lender-investor-registration-cta .container > div:nth-child(2) > img:last-child {
        margin-top: -6rem !important;
    }

    .lender-investor-registration-cta .container > div:nth-child(3) {
        background-size: 30rem !important;
    }

    .simulation-result-data > *, 
    .loan-information-data > * {
        grid-template-columns: 100% !important;
    }

    .simulation-result-data > * > * + *,
    .loan-information-data > * > * + * {
        text-align: left !important;
    }

    .loan-detail-investor-data > *,
    .loan-detail-lendee-data > * {
        width: 100% !important;
    }

    .custom-pagination > * {
        min-width: clamp(2.2rem, 10vw, 2.5rem) !important;
        min-height: clamp(2.2rem, 10vw, 2.5rem) !important;
        max-width: clamp(2.2rem, 10vw, 2.5rem) !important;
        max-height: clamp(2.2rem, 10vw, 2.5rem) !important;
    }
    
    .custom-pagination > button > span {
        margin-block: auto;
        font-size: clamp(1.5rem, 6vw, 2rem) !important;
    }
}

@media screen and (max-width: 360px) {
    #registerButton, #loginButton {
        margin-top: 4rem;
    }

    .lender-investor-registration-cta .container > div:nth-child(3) {
        margin-top: 13rem !important;
    }

    .hero .content {
        font-size: clamp(1.8rem, 4vw, 2rem) !important;
        margin-top: 2rem;
    }

    body {
        position: relative;
    }

    .solution {
        margin-top: 25rem !important;
    }

    .top-up-section > span {
        display: none;
    }

    .top-up-section button {
        min-width: clamp(2.2rem, 10vw, 44px) !important;
        min-height: clamp(2.2rem, 10vw, 44px) !important;
        max-width: clamp(2.2rem, 10vw, 44px) !important;
        max-height: clamp(2.2rem, 10vw, 44px) !important;
    }
}



/* Minimum Width */

@media screen and (min-width: 700px) {
    .active-lendees-list {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    #chart-line {
        height: 20rem !important;
    }
}

@media screen and (min-width: 613px) {
    .lender-investor-registration-cta p span {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .form-register h1, #accountRegister {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .form-register, .form-identity, .button-group {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }

    #accountRegister {
        grid-row-start: 8;
    }

    .team-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-logo {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
    }

    .footer-copyright {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .donation-payment-area {
        grid-template-columns: 1fr 1fr;
    }

    .loan-inquiry {
        display: grid !important;
        grid-template-columns: 48% 48% !important;
        gap: 4% !important;
    }

    #dueDateOfLoanResultSection {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #applyForALoanButton {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #chart-line {
        height: 25rem !important;
    }

    .bank-choices-in-inquiry {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media screen and (min-width: 992px) {
    .profile-container .col-lg-4 {
        max-width: 30%;
    }

    .loan-detail-container .col-lg-6 {
        max-width: 48%;
    }

    .lendee-payment-detail .col-lg-6:last-child {
        max-width: 47% !important;
    }

    .lendee-payment-detail button,
    .lendee-payment-detail + * > div,
    .lendee-payment-detail + * > button {
        width: 50% !important;
        transform: translateX(50%);
    }
        
    .loan-detail-container.lender-role {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    
    .loan-detail-container.lender-role > *:first-child {
        grid-column-start: 1;
    }
    
    .loan-detail-container.lender-role > *:nth-child(2) {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
    .loan-detail-container.lender-role > *:nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .loan-detail-container.lender-role > *:last-child {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .loan-detail-container > *:first-child > *:last-child {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .ornament {
        width: 30% !important;
    }

    .saving-balance-section, 
    .top-up-section {
        width: 48% !important;
    }
}

@media screen and (min-width: 1056px) {
    .signin-container,
    .register-container {
        position: absolute;
        top: -5rem;
        transform: translateY(50%);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .signin-container form {
        transform: translateY(10%);
    }

    .register-container form {
        transform: translateY(-20%);
    }
}

@media screen and (min-width: 1100px) {
    .active-lendees-list {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .ornament {
        width: 40% !important;
    }

    .profile-area img {
        width: 20% !important;
    }
}

@media screen and (min-width: 1500px) {
    .active-lendees-list {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .lender-investor-registration-cta .container > div:nth-child(3) {
        margin-top: 30rem !important;
    }
}


/* Mix */


@media screen and (max-width: 1020px) {
    .hero .content {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .hero .content {
        width: 70%;
    }
}

@media screen and (max-width: 767.9px) {
    .about-page-area > div:first-child > div:first-child > img:first-child {
        width: 40% !important;
    }

    .about-page-area > div:first-child > div:first-child > img:last-child {
        width: 50% !important;
    }

    .mission-container > .container > div {
        display: grid !important;
        grid-template-columns: 100% !important;
        gap: 3rem !important;
    }

    .mission-container > .container > div > div {
        order: 2 !important;
        padding-inline: 0;
    }

    .mission-container > .container > div > img {
        width: 60% !important;
        margin-inline: auto;
    }

    .lender-investor-registration-cta > img {
        margin-top: 3rem !important;
    }

    .donation .container .balance {
        margin-inline: auto;
        width: 50% !important;
        height: clamp(8rem, 50vw, 12rem) !important;
    }

    .donation .container {
        grid-template-columns: 1fr !important;
    }

    .donation .container .balance-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -1rem;
    }

    .donation .container .balance-description > div:first-child,
    .donation .container .balance-description > p {
        text-align: center;
    }

    .donation .container .balance .content div img {
        width: clamp(4rem, 30vw,  7rem);
        margin-top: 7rem;
    }
}

@media screen and (max-width: 688.9px) {
    .hero .content {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .solution .content {
        grid-template-columns: 100% !important;
    }
}

@media screen and (max-width: 566.9px) {
    .hero .content {
        width: 90%;
    }
}

@media screen and (max-width: 532.9px) {
    .hero .image {
        background-size: cover;
        background-position-x: right;
    }
}

@media screen and (min-width: 431px) {
    .hero .image {
        margin-top: 12rem !important;
    }
}

@media screen and (min-width: 505px) {
    .hero .image {
        margin-top: 8rem !important;
    }
    
    .solution {
        margin-top: 18rem !important;
    }
}

@media screen and (min-width: 870px) {
    .hero .image {
        margin-top: 3rem !important;
    }

    .solution {
        margin-top: 18rem !important;
    }
}

@media screen and (min-width: 981px) {
    .solution {
        margin-top: 18rem !important;
    }

    .hero .image {
        margin-top: 0rem !important;
    }

    .bank-choices-in-inquiry {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media screen and (min-width: 1057px) {
    .hero .content {
        margin-top: clamp(8rem, calc(1vw + 10rem), 15rem) !important;
    }
}

@media screen and (min-width: 1177px) {
    .hero .image {
        height: 70rem !important;
    }
}

@media screen and (min-width: 1255px) {
    .hero .image {
        margin-top: -6rem !important;
        height: 80rem !important;
    }
}

@media screen and (min-width: 1320px) {
    .solution {
        margin-top: 22rem !important;
    }
}

@media screen and (min-width: 1430px) {
    .hero .image {
        margin-top: -8rem !important;
    }

    .solution {
        margin-top: 25rem !important;
    }
}

@media screen and (min-width: 1575px) {
    .hero .image {
        margin-top: -13rem !important;
    }

    .solution .container {
        width: 100% !important;
        max-width: 100vw !important;
    }
}