html {
    scroll-behavior: smooth;
}

body {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    overflow-x: hidden;
}

.par-2-2-5em {
    font-size: clamp(1.6rem, 3vw, 2.5rem) !important;
}

.par-1-5em {
    font-size: clamp(1.1rem, 3vw, 1.5rem) !important;
}

.par-1-2em {
    font-size: clamp(0.9rem, 3vw, 1.2rem) !important;
}

.par-1em, p, label, button, a, input, tr, select, .input-group-text, .custom-range-field > *, .text-danger{
    font-size: clamp(0.8rem, 3vw, 1rem) !important;
}

.par-0-8em {
    font-size: clamp(0.7rem, 3vw, 0.8rem) !important;
}

.menu-area {
    background-image: url('../images/background/header.svg');
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 12rem !important;
    background-size: cover;
    background-position: center bottom;
    padding: 20px;
}

.menu-area .container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px calc(15% / 2);
    width: 100%;
    max-width: 1600px !important;
    background-color: var(--primary);
    z-index: 1060;
}

.menu-area .container.scroll {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.30);
    transition: 0.3s box-shadow ease;
}

.navbar {
    padding: 8px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navbar img {
    width: 1.5em;
}

.rounded-20 {
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.rounded-10 {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.rounded-5 {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.page {
    position: relative;
    width: 100vw;
    max-width: 1600px;
}

.menu-area .container {
    width: 100%;
    max-width: 100vw;
}

.hero {
    width: 100%;
    max-width: 100vw;
}

.hero .content {
    position: relative;
    font-size: clamp(2rem, 6vw, 2.7rem) !important;
    font-weight: normal;
    letter-spacing: -0.25px;
    width: 60%;
    margin-top: 100px;
    z-index: 1;
    padding-inline: calc(15% / 2);
}

.hero .content span {
    font-weight: 600;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.hero .image {
    position: absolute;
    flex-shrink: 0;
    width: 100%;
    height: 80rem;
    max-width: 1600px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/hero/hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 18rem;
    z-index: -1;
    margin-top: 14rem;
}


.solution {
    width: 100%;
    height: auto;
    margin-top: 22rem;
    background: linear-gradient(3deg, #1A5F7A -16.01%, #159895 38.7%, rgba(111, 163, 163, 0.00) 94.69%);
    padding-bottom: 40px !important;
}

.solution .container {
    padding-bottom: 100px;
    padding-inline: calc(15% / 2);
}

.solution .header {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    justify-content: center;
}

.solution .content {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    margin-top: 50px;
}

.mission-container > div > div {
    background: url('../images/background/mission-section.svg') no-repeat center center;
}

.mission-container > div > div > div {
    background: url('../images/illustration/graduation-cap.svg') no-repeat clamp(45px, 9vw, 80px) clamp(0px, 3vw, -10px);
    background-size: clamp(2.5rem, 3vw, 3.2rem);
}

.lender-investor-registration-cta .container {
    width: 100vw;
    background: url('../images/background/blue-wave-background.svg') no-repeat center center;
    background-size: cover;
    max-width: 1600px;
}

.lender-investor-registration-cta .container > div:nth-child(2) {
    padding-inline: calc(15% / 2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.lender-investor-registration-cta .container > div:nth-child(2) > img {
    width: 100%;
}

.lender-investor-registration-cta .container > div:nth-child(2) > img:nth-child(2) {
    transform: translateY(25%);
}

.lender-investor-registration-cta .container > div:nth-child(2) > img:nth-child(3) {
    transform: translateY(50%);
}

.lender-investor-registration-cta .container > div:nth-child(2) > img:last-child {
    transform: translateY(75%);
}

.lender-investor-registration-cta .container > div:nth-child(3) {
    margin-top: 20rem; 
    background: url('../images/background/register-investor-section.svg') no-repeat center top;
    background-size: contain;
    width: 100%;
}

.lender-investor-registration-cta > img {
    width: 100%;
}

.donation .container {
    display: grid;
    background: white;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 50px;
    margin-top: -150px;
    padding-bottom: 100px;
    padding-inline: calc(15% / 2);
}

.donation .container .balance {
    border-radius: 20px;
    opacity: 0.8;
    background: linear-gradient(233deg, #5D299F 6.76%, #F94A29 91.46%);
    width: 100%;
    height: 300px;
    margin-top: 100px;
}

.donation .container .balance .content {
    display: block;
    background-image: url('../images/background/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.donation .container .balance-description {
    margin-block: auto;
}

.donation .container .balance-description .description {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.login-register-arrow-icon {
    color: var(--white);
    background-color: var(--primary);
}

.login-register-button {
    color: black;
    background-color: var(--light-blue);
}

.announcement {
    margin-bottom: 50px;
}

.announcement.container {
    padding-inline: calc(15% / 2);
}

.announcement .list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.team-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.team-card, .profile-area > div {
    background: linear-gradient(269deg, #1A5F7A 0.34%, #57C5B6 93.33%);
    background-size: 100% 30%;
    background-repeat: no-repeat;
}

.team-card h3 {
    margin-block: auto;
    height: fit-content !important;
}

.profile-area > div {
    background-size: 100% clamp(3rem, calc(1vw + 8rem), 12rem);
}

.team-card > * {
    transform: translateY(30px);
    transition: 0.5s;
}

.social-media-links {
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}

.social-media-links a img {
    width: clamp(1.3rem, 6vw, 1.8rem) !important;
    margin-top: 1rem;
}

.social-media-links a img.hover {
    display: none;
}

.social-media-links a:hover img {
    display: none;
}

.social-media-links a:hover img.hover {
    display: block;
}

.team-card:hover .social-media-links,
.team-card:focus .social-media-links,
.social-media-links:focus-within {
    transform: translateY(0px);
    opacity: .7;
}

.team-card:hover > *,
.team-card:focus > * {
    transform: translateY(0px);
}

.team-card img {
    margin-inline: auto !important;
}

.footer {
    background: var(--primary);
    padding-block-start: 3rem !important;
}

.footer > .footer-logo {
    margin-bottom: 1rem;
}

.footer-logo img {
    max-height: 60px !important;
}

.footer > img {
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: .5;
}

.footer > .footer-logo,
.footer > .footer-contact-info,
.footer > .divider,
.footer > .footer-bottom-section {
    z-index: 2;
}

.footer > .footer-bottom-section > .footer-social-media > a > img {
    width: 1.3rem !important;
    height: 1.3rem !important;
}

.breadcrumb-custom-container {
    position: relative;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
}

.breadcrumb-custom {
    position: absolute;
    background: white;
}

.checkmark, .checkmark-checked {
    position: absolute;
    top: .8rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.checkmark-checked {
    background: var(--primary);
}

.item-card-shadow {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 19px 12px 0px rgba(0, 0, 0, 0.05), 0px 34px 14px 0px rgba(0, 0, 0, 0.01), 0px 54px 15px 0px rgba(0, 0, 0, 0.00);
}

.container-card-shadow {
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.10), 0px 22px 22px 0px rgba(0, 0, 0, 0.09), 0px 50px 30px 0px rgba(0, 0, 0, 0.05), 0px 88px 35px 0px rgba(0, 0, 0, 0.01), 0px 138px 39px 0px rgba(0, 0, 0, 0.00);
}

.card-horizontal-scroll {
    overflow-x: auto !important;
    padding-block: 1rem;
}

.btn-primary-outline {
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
    border-width: 2px;
}

.opacity-75 {
    opacity: 75% !important;
}

.opacity-50 {
    font-weight: 50% !important;
}

select {
    appearance: none !important;
    border: 0 !important;
    outline: 0 !important;
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem !important;
    background: 
        url(https://img.icons8.com/ios-glyphs/30/159895/sort-down.png)
        no-repeat right 0.8em center / 1.4em,
        var(--light-blue) !important;
    color: black !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

select::ms-expand {
    display: none;
}

select:focus {
    outline: none;
}

option {
    color: inherit;
    background-color: var(--white);
}

.bank-choices-in-inquiry {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bank-choices-in-inquiry img {
    width: clamp(4rem, 7vw, 5rem);
}

.bank-choices-in-inquiry > div:nth-child(3) img,
.bank-choices-in-inquiry > div:nth-child(4) img {
    width: clamp(5.5rem, 8vw, 9rem);
}

.bank-choices-in-inquiry > div:last-child img {
    width: clamp(3rem, 6vw, 4rem);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, .2);
}

/* Custom Range */

.custom-range {
    position: relative;
    height: 3rem;
    z-index: 999;
}

.custom-range-field {
    position: relative;
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

.custom-range-field input {
    -webkit-appearance: none;
    width: 100%;
}

.custom-range-field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 2rem;
    border-radius: 10px;
    background: var(--primary);
    margin-top: -0.8rem;
    cursor: pointer;
}

.custom-range-field input::-webkit-slider-thumb:hover {
    background: var(--secondary);
}

.custom-range-field input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

.custom-range-value-section {
    width: 100%;
    height: 100%;
    margin-left: -8.33%;
}

.custom-range-value {
    margin-top: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--primary);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.custom-range-value.show {
    transform: scale(1);
}

.custom-range-value span {
    position: absolute;
    top: .5rem;
    width: 100%;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    z-index: 2;
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out;
}

.custom-range-value span.show {
    transform: scale(1);
}

.card-horizontal-scroll::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
    height: 16px;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: rgba(64, 64, 64, .5);
}

.card-horizontal-scroll::-webkit-scrollbar-track {
    background-color: var(--white);
}

.card-horizontal-scroll::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgb(96, 96, 96);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

.card-horizontal-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    background-clip: padding-box;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: rgb(112, 112, 112);
}

.table-responsive::-webkit-scrollbar-thumb:active {
    background-color: rgb(128, 128, 128);
}

.loan-area .table tbody > * {
    border-bottom: 5px white solid;
}

.simulation-result-data > *,
.loan-information-data > * {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table tbody tr td {
    border-bottom: 5px solid white;
}

.lendee-payment-section > *:first-child,
.lendee-payment-section > *:last-child > *:first-child,
.lendee-payment-section > *:last-child > *:nth-child(2) > *:last-child,
.lendee-payment-section > *:last-child > *:nth-child(3),
.lendee-payment-section > *:last-child > *:last-child {
    padding-inline: calc(15% / 2) !important;
}

.loan-detail-container.lender-role {
    display: grid;
    gap: 3rem;
}

.pagination {
    display: flex;
    gap: 10px;
}

.pagination .operation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    padding: 10px;
    color: white;
    border-color: none;
    outline: 0 !important;
    border: 0 !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.pagination .page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-blue);
    width: 75px;
    padding: 10px;
    color: var(--primary);
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.clear-space-medium {
    margin-top: 2rem;
}

.clear-space-large {
    margin-top: 4rem;
}

.donation-nominal-area .input-group {
    max-width: 400px;
}

button.btn {
    max-width: 680px;
}

.btn-border:hover, .btn-border:focus {
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
}

.announcement .pagination {
    width: 100%;
}

.announcement > .card img {
    width: clamp(2rem, 2vw, 3rem) !important;
}

input[type=radio],
input[type=checkbox] {
    border: 1px black solid;
}

.custom-pagination > * {
    width: 3rem;
    height: auto;
    border-radius: 10px;
}

.custom-pagination > button > span {
    font-size: 2rem;
}

.top-up-section button span {
    font-size: clamp(2rem, 10vw, 3rem) !important;
}

a.btn.bg-white.text-primary {
    display: flex !important;
    align-items: center !important;
}

.empty-state img {
    width: clamp(6rem, 18vw, 10rem);
}

.payment-history-back-button:focus,
.payment-history-back-button:active,
.payment-history-back-button:hover {
    text-decoration: none !important;
}

.btn-secondary span {
    background-color: var(--primary) !important;
    transition: all 0.35s ease-out;
}

.btn-secondary:hover span {
    background-color: var(--secondary) !important;
    transition: all 0.35s ease-in;
}

.view-topup-history-button:hover,
.view-topup-history-button:focus {
    background-color: #C1ACDB !important;
}

.topup-balance-button:hover,
.topup-balance-button:focus {
    background-color: #A8D3CE !important;
}