@media screen and (max-width: 360px) {
    #registerButton, #loginButton {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .ornament {
        width: 100% !important;
    }

    .breadcrumb-line {
        width: 17rem !important;
    }

    .profile-area img {
        min-width: 60% !important;
    }

    .simulation-result-data > * {
        grid-template-columns: 100% !important;
    }

    .simulation-result-data > * > * + * {
        text-align: left !important;
    }
}

@media screen and (max-width: 580px) {
    #loanDuration {
        flex-direction: column;
    }

    #loanDuration select {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .team-card-container {
        grid-template-columns: 1fr;
    }

    .team-card {
        padding: 2rem;
    }

    .profile-area img {
        width: 50% !important;
    }
}

@media screen and (max-width: 900px) {
    .profile-area img {
        width: 35% !important;
    }
}

@media screen and (max-width: 1199px) {
    .form-login, .form-register {
        padding-left: calc(15% / 2);
        margin-top: 3rem;
    }
}

@media screen and (min-width: 900px) {
    .form-register h1, #accountRegister {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .form-register, .form-identity, .button-group {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }

    #accountRegister {
        grid-row-start: 8;
    }

    .team-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-logo {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
    }

    .footer-copyright {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .donation-payment-area {
        grid-template-columns: 1fr 1fr;
    }

    .loan-inquiry {
        display: grid !important;
        grid-template-columns: 48% 48% !important;
        gap: 4% !important;
    }

    #dueDateOfLoanResultSection {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #applyForALoanButton {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 992px) {
    .profile-container .col-lg-4 {
        max-width: 30%;
    }
}

@media screen and (min-width: 1000px) {
    .ornament {
        width: 30% !important;
    }
}

@media screen and (min-width: 1200px) {
    .ornament {
        width: 40% !important;
    }

    .signin-container {
        margin-top: -9rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .register-container {
        margin-top: -4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .register-container > * {
        margin-block: auto;
    }

    .profile-area img {
        width: 20% !important;
    }
}